.banner {
  min-height: 40vh;

  align-items: center;
  justify-content: space-between;
  background: rgba(255, 153, 0, 0.1);
  margin: 4vh 0;
  border-radius: 20px;
  padding: 5vh 2vw;

  @media #{$md-layout} {
    flex-direction: column-reverse;
  }
  @media #{$xs-layout} {
    flex-direction: column-reverse;
  }

  &-content {
    flex: 0.9 1;

    h1 {
      color: $text-black;
      font-weight: 700;
    }

    p {
      color: $text-grey-light;
      width: 80%;
      font-weight: 600;
    }

    button {
      background-color: $theme-color;
      color: white;

      &:hover {
        background-color: white;
        border: 1px solid $theme-color;
        color: $theme-color;
      }
    }
  }

  &-images {
    .left {
      max-height: 150px;
      transform: rotate(-15deg);
      // padding-right: 1vw;
    }
    .top {
      max-height: 150px;
      transform: rotate(9deg);
      top: 10;
      padding: 1vh 0;
    }
    .right {
      max-height: 150px;
      transform: rotate(21deg);
      // margin-left: 1vw;
    }

    .logo {
      display: flex;
      justify-content: center;

      img {
        max-height: 100px;
      }
    }
  }
}
