.banner {
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 153, 0, 0.1);
  margin: 4vh 0;
  border-radius: 20px;
  padding: 5vh 2vw;

  &-content {
    flex: 0.5 1;

    h1 {
      color: $text-black;
      font-weight: 700;
    }

    p {
      color: $text-grey-light;
      width: 80%;
      font-weight: 600;
    }

    button {
      background-color: $theme-color;
      color: white;

      &:hover {
        background-color: white;
        border: 1px solid $theme-color;
        color: $theme-color;
      }
    }
  }

  &-images {
    flex: 0.5 1;
    .left {
      display: inline-block;
      margin-left: 10%;
      img {
        max-height: 150px;
        width: auto;
        transform: rotate(-15deg);
        padding-right: 40px;
      }
    }
    .top {
      display: inline-block;
      img {
        max-height: 150px;
        width: auto;
        transform: rotate(9deg);
        padding-right: 40px;
      }
    }
    .right {
      display: inline-block;
      img {
        max-height: 150px;

        width: auto;
        transform: rotate(9deg);
        // padding-right: 1vw;
      }
    }

    .logo {
      display: flex;
      justify-content: center;

      img {
        max-height: 50px;
      }
    }
  }
}

@media #{$xs-layout} {
  .banner {
    padding: 5px;
    min-height: 200px;

    h1 {
      color: $text-black;
      font-size: 15px !important;
    }

    &-content {
      p {
        color: $text-grey-light;
        font-size: 10px !important;
        width: 100%;
        line-height: 1.15;
      }

      button {
        background-color: $theme-color;
        color: white;
        font-size: 12px !important;
        padding: 3px !important;
        width: 150px !important;
        border: 1px solid $theme-color !important;

        &:hover {
          background-color: white;

          color: $theme-color;
        }
      }
    }

    &-images {
      padding: 0;
      .left {
        width: fit-content;
        margin-left: 30px;
        img {
          height: 40px;
          transform: rotate(-10deg);
          margin: 0 !important;
          padding: 0;
        }
      }
      .top {
        width: fit-content;
        img {
          max-height: 40px;
          transform: rotate(9deg);
          margin: 0;
          padding: 0;
        }
      }
      .right {
        width: fit-content;
        img {
          max-height: 40px;
          transform: rotate(21deg);
          padding: 0;
          // margin-left: 1vw;
        }
      }

      .logo {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-left: 0;

        img {
          max-height: 25px;
          max-width: 60px;
        }
      }
    }
  }
}

@media #{$md-layout} {
  .banner {
    padding: 10px;
    min-height: 170px;

    h1 {
      color: $text-black;
      font-size: 1.2rem;
    }

    &-content {
      p {
        color: $text-grey-light;
        font-size: 0.8rem;
        line-height: 1;
        width: 100%;
      }

      button {
        background-color: $theme-color;
        color: white;
        font-size: 12px !important;
        padding: 3px !important;
        width: 150px !important;
        border: 1px solid $theme-color !important;

        &:hover {
          background-color: white;

          color: $theme-color;
        }
      }
    }

    &-images {
      padding: 0;
      .left {
        width: fit-content;
        margin-left: 9vw;
        img {
          height: 80px;
          transform: rotate(-10deg);
          margin: 0 !important;
          padding: 0;
        }
      }
      .top {
        width: fit-content;
        img {
          max-height: 80px;
          transform: rotate(9deg);
          margin: 0;
          padding: 0;
        }
      }
      .right {
        width: fit-content;
        img {
          max-height: 80px;
          transform: rotate(21deg);
          padding: 0;
          // margin-left: 1vw;
        }
      }

      .logo {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-left: 0;

        img {
          max-height: 45px;
          max-width: 120px;
        }
      }
    }
  }
}
