.best {
  width: 90vw;
  margin: 0 auto;

  .best-header {
    display: flex;
    margin: 25px 0;
    align-items: center;

    // @media #{$md-layout} {
    //   flex-direction: column;
    // }
    // @media #{$xs-layout} {
    //   flex-direction: column;
    // }

    .how-icon {
      color: $theme-color;
      font-size: 50px;
      // padding: 5px;
    }

    h1 {
      padding-left: 10px;
    }
  }

  .best-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media #{$md-layout} {
      flex-direction: column;
    }
    @media #{$xs-layout} {
      flex-direction: column;
    }

    img {
      @media #{$md-layout} {
        width: 95vw;
        height: auto;
      }
      @media #{$xs-layout} {
        width: 95vw;
        height: auto;
      }
    }

    .best-header-content-text {
      h1 {
        color: $theme-color;
        font-weight: 600;
        font-family: "Arial Rounded MT";

        @media #{$md-layout} {
          font-weight: 500;
          text-align: center;
          font-size: 1.6rem;
        }
        @media #{$xs-layout} {
          font-weight: 500;
          text-align: center;
          font-size: 1.6rem;
        }
      }
      h4 {
        font-weight: 500;
        font-family: "Arial Rounded MT";

        @media #{$md-layout} {
          font-weight: 500;
          text-align: center;
          font-size: 1rem;
        }
        @media #{$xs-layout} {
          font-weight: 500;
          text-align: center;
          font-size: 1rem;
        }
      }
    }
  }
}

@media screen and (max-device-width: 995px), screen and (max-width: 995px) {
}
