footer {
   text-align: center;
  .upper {

    justify-content: space-evenly;
    margin-bottom: 20px;
    .company {
      a {
        display: block;
        text-decoration: none;
        color: black;

        &:hover {
          color: $theme-color;
        }
      }
    }
    img {
      max-width: 15vw;
    }
  }

  .lower {
    display: flex;
    justify-content: space-evenly;

    .others {
      a {
        text-decoration: none;
        color: black;
        margin: 0 1vw;
      }
    }
  }
}
