footer {
  text-align: center;
  overflow: hidden;
  font-family: "Arial Rounded MT";
  .upper {
    justify-content: space-evenly;
    margin-bottom: 20px;
    .company {
      a {
        display: block;
        text-decoration: none;
        color: black;
        margin: 10px auto;

        &:hover {
          color: $theme-color;
        }
      }
    }
    img {
      max-width: 10vw;

      @media #{$md-layout} {
        max-width: 15vw;
      }

      @media #{$xs-layout} {
        max-width: 25vw;
      }
    }
  }

  .lower {
    display: flex;
    justify-content: space-evenly;

    .others {
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}
