header {
  box-shadow: $shadow;
  font-family: "Sitka small";
  position: static;
  .container-fluid {
    padding: 20px 80px;
    @media #{$xl-layout} {
      padding: 5px 15px;
    }
    @media #{$lg-layout} {
      padding: 8px 30px;
    }
    @media #{$md-layout} {
      padding: 10px 40px;
    }
    @media #{$xs-layout} {
      padding: 3px 15px;
    }

    .row {
      a {
        text-decoration: none;
        color: black;
        font-weight: 600;

        img {
          max-width: 200px;
          height: auto;
        }
      }
      div {
        button {
          display: flex;
          align-items: center;
          border-radius: 32px;
          box-shadow: $shadow;
          padding: 10px 20px;
          border: none;

          p {
            margin: 0 !important;
            font-family: "Arial Rounded MT";
          }
        }

        .coming {
          display: flex;
          align-items: center;
          border-radius: 32px;
          box-shadow: $shadow;
          padding: 20px 20px;
          border: none;
          background: $theme-color;
          color: white;
        }
      }

      .search__box {
        margin: 0 auto;
        width: 600px;
        border-radius: 20px;
        // border: 1px solid #dcdcdc;
        text-align: left;
        height: fit-content;
        margin-left: -3vw;
        box-shadow: $shadow;
        z-index: 1;

        &:focus {
          box-shadow: 1px 1px 8px 1px #dcdcdc;
          border: 1px solid #dcdcdc;
        }

        &:focus-within {
          box-shadow: 1px 1px 8px 1px #dcdcdc;
          // box-shadow: inset 0 -2px 0 0 grey;
          border: 1px solid #dcdcdc;
          outline: none;
        }

        input {
          text-align: left;
          margin-left: 20px;
          height: 35px;
          border: none;
          width: 600px;
          border: none;
          background: transparent;
          font-size: 20px;
          padding: 10px;

          &:focus {
            text-align: left;
            margin-left: 20px;

            outline: none;
          }
        }
        .dataResult {
          border-radius: 30px;
          position: absolute;
          img {
            height: 40px;
            width: 40px;
          }
          p {
            margin-left: 20px;
          }
          a {
            padding-bottom: 5px;

            border-radius: 8px;
            text-decoration: none;
          }
          a:hover {
            background: lightgrey;
          }
        }
        .dataResult .dataItem {
          display: flex;
          align-items: center;
        }
      }
    }
    .Header-group {
      display: none;
    }

    .li2 {
      display: flex;

      a {
        width: fit-content;
        font-weight: 600;
        font-size: 0.9rem;
      }

      button {
        width: auto;
        padding: 2px 30px;
        margin-right: 4vw;
        margin-left: auto;
        background: $theme-color;
        color: white;

        &:hover {
          background-color: white;
          color: $theme-color;
          border: 1px solid $theme-color;
        }
      }
    }
  }
  // .search__box {
  //   input {
  //     width: 90%;
  //     border-radius: 20px;
  //     border: none;
  //     outline: none;
  //   }
  // }
}

// .dataResult {
//   margin-top: 10px;
//   width: 580px;
//   max-height: 300px;
//   background-color: white;
//   box-shadow: $shadow;
//   border-radius: 30px;
//   overflow: hidden;
//   overflow-y: auto;
//   padding: 0 20px;
// }

// .dataResult::-webkit-scrollbar {
//   display: none;
//   visibility: hidden;
// }

// .dataResult .dataItem {
//   width: 100%;
//   height: 50px;
//   display: flex;
//   align-items: center;
//   color: black;
//   padding-top: 3vh;
// }

// .dataItem {
//   text-decoration: none;

//   &:hover {
//     background-color: #f6f6f6;
//   }
//   p {
//     margin-left: 10px;
//   }
// }

.ant-dropdown {
  min-width: 180px !important;
  ul {
    li {
      span {
        a {
          font-weight: 400 !important;
          font-size: 1rem;
        }
      }
    }
  }
}
@media screen and (max-device-width: 995px), screen and (max-width: 995px) {
  header {
    box-shadow: $shadow;
    font-family: "Sitka small";
    .container-fluid {
      .row {
        a {
          img {
            max-width: 150px;
            height: 40px;
          }
        }

        div {
          button {
            width: 30px;
            height: 30px;
            text-align: center !important;
            border-radius: 20px;
            padding-left: 15px !important;
          }
        }

        .search__box {
          width: 60% !important;
          margin: 0 0 0 4px;
          input {
            width: 60% !important;
          }
        }
      }
      .Header-group {
        display: block;
        text-align: center;
        img {
          width: 100%;
        }
        button {
          margin-top: 30px;
          width: auto;
          padding: 2px 30px;
          margin-right: 4vw;

          margin-left: auto;
          background: $theme-color;
          color: white;

          &:hover {
            background-color: white;
            color: $theme-color;
            border: 1px solid $theme-color;
          }
        }
      }
      .li2 {
        display: none;
      }
    }
  }
}
