header {
  box-shadow: $shadow;
  font-family: "Sitka small";
  position: sticky;
  top: 0;
  background: white;
  z-index: 8;
  .container-fluid {
    padding: 20px 80px;
    @media #{$xl-layout} {
      padding: 5px 15px;
    }
    @media #{$lg-layout} {
      padding: 8px 30px;
    }
    @media #{$md-layout} {
      padding: 10px 40px;
    }
    @media #{$xs-layout} {
      padding: 3px 15px;
    }

    .row {
      a {
        text-decoration: none;
        color: black;
        font-weight: 600;

        img {
          max-width: 200px;
          height: auto;

          @media #{$md-layout} {
            max-width: 140px !important;
          }
        }
      }
      a.mob-link {
        display: none;
      }
      div {
        button {
          display: inline-block;
          vertical-align: middle;
          border-radius: 32px;
          box-shadow: $shadow;
          padding: 10px 20px;
          border: none;

          p {
            display: inline-block;
            vertical-align: middle;
            margin: 0 !important;
            font-family: "Arial Rounded MT";
          }
        }

        div.mob {
          display: none;
        }

        .coming {
          display: flex;
          align-items: center;
          border-radius: 32px;
          box-shadow: $shadow;
          padding: 20px 20px;
          border: none;
          background: $theme-color;
          color: white;
        }
      }

      .search__box {
        margin: 0 auto;
        width: 600px;
        padding: 4px 0;
        border-radius: 20px;
        // border: 1px solid #dcdcdc;
        text-align: left;
        height: fit-content;
        margin-left: -3vw;
        box-shadow: $shadow;
        z-index: 1;

        @media #{$md-layout} {
          width: 83% !important;
        }

        &:focus {
          box-shadow: 1px 1px 8px 1px #dcdcdc;
          border: 1px solid #dcdcdc;
        }

        &:focus-within {
          box-shadow: 1px 1px 8px 1px #dcdcdc;
          // box-shadow: inset 0 -2px 0 0 grey;

          .dataResult {
            display: block;
          }
        }

        input {
          text-align: left;
          margin-left: 20px;
          height: 35px;
          border: none;
          width: 600px;
          border: none;
          background: transparent;
          font-size: 18px;
          padding: 10px;

          &:focus {
            text-align: left;
            // margin-left: 20px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            outline: none;
          }
        }

        input.mobSr {
          display: none;
        }
        .dataResult {
          border: 1px solid #dcdcdc;
          border-radius: 30px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          position: absolute;
          margin-top: 37px;
          width: 599px;
          max-height: 350px;
          background-color: white;
          box-shadow: $shadow;
          overflow: hidden;
          overflow-y: auto;
          padding: 5px 20px;
          scrollbar-width: none;
          z-index: -1;
          display: none;

          .dataItem {
            display: flex;
            align-items: center;
            width: 100%;
            height: 50px;
            color: black;
            padding: 1vh 0;
            z-index: 1;

            img {
              height: 40px;
              width: 40px;
            }
            p {
              margin: 0 20px;
            }
            &:hover {
              background-color: lightgray;
              border-radius: 5px;
            }
          }

          &::-webkit-scrollbar {
            display: none;
            visibility: hidden;
          }
        }
        .dataResult .dataItem {
          display: flex;
          align-items: center;
        }
      }

      .focus {
        border: 1px solid #dcdcdc;
        outline: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    .Header-group {
      display: block;
    }

    div.best {
      display: none;
    }

    .li2 {
      display: flex;

      a {
        width: fit-content;
        font-weight: 600;
        font-size: 0.9rem;
      }

      button {
        width: auto;
        padding: 2px 30px;
        margin-right: 4vw;
        margin-left: auto;
        background: $theme-color;
        color: white;

        &:hover {
          background-color: white;
          color: $theme-color;
          border: 1px solid $theme-color;
        }
      }
    }
  }
  .side {
    position: absolute;
    height: 100vh;
    width: 60vw;
    background: white;
    z-index: 100;

    a {
      font-size: 0.9rem;
      color: black;
      margin-top: 5px;
      padding: 5px 10px;
    }
  }
}
.backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9;
  top: 0;
}

.ant-dropdown-placement-bottomCenter {
  position: fixed !important;
}

.ant-dropdown-menu {
  position: fixed;
  margin: 0;
  padding: 4px 10px;
  min-width: 200px;
  text-align: left;
  list-style-type: none;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 12px;
  outline: none;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0);
}

@media screen and (max-device-width: 995px), screen and (max-width: 995px) {
  header {
    box-shadow: none;
    .container-fluid {
      .row {
        .logo {
          display: flex;
          justify-content: space-between;
          align-items: center;
          a {
            img {
              max-width: 100px;
              height: auto;
              margin-bottom: 10px;
            }
          }
          a.mob-link {
            display: block;
            font-size: 0.7rem;
          }
        }

        div.drop {
          display: flex;
          justify-content: center;
          button {
            display: none;
          }

          div.mob {
            height: 35px;
            width: 35px;
            border-radius: 50%;
            box-shadow: $shadow;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
          }
        }

        .search__box {
          width: 65%;
          margin: 0 0 0 0px;

          input {
            width: 90% !important;
            height: 25px;
            text-align: left;
            margin-left: 5px;

            font-size: 0.8rem;
            padding: 5px;
          }

          input.mobSr {
            display: inline-block;
          }

          input.sr {
            display: none;
          }
          .dataResult {
            width: 100% !important;
            top: -4px;

            .dataItem {
              img {
                height: 20px !important;
                width: 20px;
              }
              p {
                font-size: 0.8rem;
                line-height: 0.8;
              }
            }
          }
        }
      }

      .Header-group {
        display: none;
      }

      div.best {
        height: 35px;
        width: 35px;
        border-radius: 50%;
        box-shadow: $shadow;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }

      .li2 {
        display: none;
      }
    }
  }
}
