
header {
  box-shadow: $shadow;
  font-family: "Sitka small";
  .container-fluid {
    padding: 20px 80px;
    @media #{$xl-layout} {
      padding: 5px 15px;
    }
    @media #{$lg-layout} {
      padding: 8px 30px;
    }
    @media #{$md-layout} {
      padding: 10px 40px;
    }
    @media #{$xs-layout} {
      padding: 3px 15px;
    }

    .row {
      a {
        text-decoration: none;
        color: black;
        font-weight: 600;

        img {
          max-width: 200px;
          height: auto;
        }
      }
      div {
        button {

          align-items: center;
          border-radius: 32px;
          box-shadow: $shadow;
          padding: 10px 20px;
          border: none;
        }
        .coming {

          align-items: center;
          border-radius: 32px;
          box-shadow: $shadow;
          padding: 10px 20px;
          border: none;
          background: $theme-color;
          color: white;
        }
      }
    }
    .li2 {


      a {
        width: fit-content;
      }
    }
  }
  .search__box {

    input {
      width: 90%;
      border-radius: 20px;
      border: none;
      outline: none;
      box-shadow: $shadow;
      padding: 10px 20px;
    }
  }
}

.dataResult {
   position: absolute;
  width: 530px;
  top:70px;
  left: 485px;
  max-height: 300px;
  background-color: white;
  box-shadow: $shadow;
  border-radius: 30px;
  z-index: 1;
  overflow: hidden;
  overflow-y: auto;
  padding: 0 20px;


}

.dataResult::-webkit-scrollbar {
  display: none;
  visibility: hidden;
}

.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
  padding-top: 3vh;

}

.dataItem {
  text-decoration: none;

  &:hover {
    background-color: #f6f6f6;
  }
  p {
    margin-left: 10px;
  }
}


@media screen and  (max-device-width:995px) , screen and (max-width:995px)  {
header {
  box-shadow: $shadow;
  font-family: "Sitka small";
  .container-fluid {
         .row {
               a {
                  img {
                       max-width: 150px;
                      height: 40px;
                      }
                 }

              div {
                 button {
                     width:30px;
                       height:30px;
                    border-radius:0px;
                      text-overflow:clip;
                       }
                  }

            .search__box {
                      input {
                           width: 100%;
                            border-radius: 20px;
                           border: none;
                          outline: none;
                         box-shadow: $shadow;
                          height: 30px;
                       padding: 0px;

                           }
                        }


               }
    .li2
    {
      display: none;
  }

}
.dataResult {
position: absolute!important;

margin-top: 20px;
left:10px!important;
width: 340px!important;
}
}
}
