header {
  box-shadow: $shadow;
  font-family: "Sitka small";
  .container-fluid {
    padding: 20px 80px;
    @media #{$xl-layout} {
      padding: 5px 15px;
    }
    @media #{$lg-layout} {
      padding: 8px 30px;
    }
    @media #{$md-layout} {
      padding: 10px 40px;
    }
    @media #{$xs-layout} {
      padding: 3px 15px;
    }

    .row {
      a {
        text-decoration: none;
        color: black;
        font-weight: 600;

        img {
          max-width: 200px;
          height: auto;
        }
      }
      div {
        button {
          display: flex;
          align-items: center;
          border-radius: 32px;
          box-shadow: $shadow;
          padding: 10px 20px;
          border: none;
        }

        .coming {
          display: flex;
          align-items: center;
          border-radius: 32px;
          box-shadow: $shadow;
          padding: 10px 20px;
          border: none;
          background: $theme-color;
          color: white;
        }
      }

      .search__box {
        margin: 0 auto;
        width: 600px;
        border-radius: 20px;
        border: 1px solid #dcdcdc;
        text-align: left;
        height: fit-content;
        margin-left: -3vw;
        box-shadow: $shadow;
        z-index: 1;

        &:focus {
          box-shadow: 1px 1px 8px 1px #dcdcdc;
        }

        &:focus-within {
          box-shadow: 1px 1px 8px 1px #dcdcdc;
          outline: none;
        }

        input {
          text-align: left;
          margin-left: 20px;
          height: 35px;
          border: none;
          width: 503px;
          border: none;
          background: transparent;
          font-size: 20px;
          margin-bottom: 7px;
          padding: 5px;
          padding-bottom: 0px;

          &:focus {
            text-align: left;
            margin-left: 20px;
            margin-bottom: 7px;
            outline: none;
            box-shadow: inset 0 -1px 0 0 grey;
          }
        }

        .dataResult {
          z-index: 2;
          a {
            color: black;
            display: flex;
            margin-left: 20px;
            margin-top: 0;
            margin-bottom: 10px;
            margin-right: 20px;
            padding: 10px;
            font-size: 20px;
            border-radius: 8px;
          }
        }
      }
    }
    .li2 {
      display: flex;

      a {
        width: fit-content;
        font-weight: 600;
        font-size: 0.9rem;
      }

      button {
        width: auto;
        padding: 2px 30px;
        margin-right: 4vw;
        margin-left: auto;
        background: $theme-color;
        color: white;

        &:hover {
          background-color: white;
          color: $theme-color;
          border: 1px solid $theme-color;
        }
      }
    }
  }
  // .search__box {
  //   input {
  //     width: 90%;
  //     border-radius: 20px;
  //     border: none;
  //     outline: none;
  //   }
  // }
}

// .dataResult {
//   margin-top: 10px;
//   width: 580px;
//   max-height: 300px;
//   background-color: white;
//   box-shadow: $shadow;
//   border-radius: 30px;
//   overflow: hidden;
//   overflow-y: auto;
//   padding: 0 20px;
// }

// .dataResult::-webkit-scrollbar {
//   display: none;
//   visibility: hidden;
// }

// .dataResult .dataItem {
//   width: 100%;
//   height: 50px;
//   display: flex;
//   align-items: center;
//   color: black;
//   padding-top: 3vh;
// }

// .dataItem {
//   text-decoration: none;

//   &:hover {
//     background-color: #f6f6f6;
//   }
//   p {
//     margin-left: 10px;
//   }
// }

.ant-dropdown {
  min-width: 180px !important;
  ul {
    li {
      span {
        a {
          font-weight: 400 !important;
          font-size: 1rem;
        }
      }
    }
  }
}
