.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;

  .card1 {
    display: flex;
  }
}
.scrolling-wrapper-flexbox {
  display: flex;
}
.ant-carousel {
  .slick-next {
    &::before {
      content: "";
    }
  }
  .slick-prev {
    &::before {
      content: "";
    }
  }
}

.home {
  width: 90vw;
  margin: 10px auto;

  &-group {
    display: none;

    @media #{$md-layout} {
      display: block;
    }
    @media #{$xs-layout} {
      display: block;
    }

    img {
      max-width: 95vw;
    }

    button {
      background: $theme-color;
      color: white;
      padding: 5px 15px;
      margin: 20px 33%;
    }
  }

  .home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media #{$md-layout} {
      flex-direction: column;
    }
    @media #{$xs-layout} {
      flex-direction: column;
    }

    &-image {
      height: inherit;
      width: inherit;
      background: rgba($theme-color, 0.1);
      border-radius: 20px;
      margin-right: 10vw;
    }

    &-content {
      h1 {
        // color: $theme-color;
        font-weight: 600;
      }

      button {
        color: white;
        background: $theme-color;
        border-radius: 20px;
        border: none;
        box-shadow: $shadow;
        font-weight: 600;

        &:hover {
          background-color: white;
          border: 1px solid $theme-color;
          color: $theme-color;
        }
      }
    }
  }

  .home-most {
    padding: 2rem;
    border-radius: 30px;
    box-shadow: $shadow;
    margin: 2vh 0;
    h1 {
      margin-top: 1vh;
      font-weight: 700;
    }

    &-products {
      display: flex;
      flex-wrap: wrap;

      .product-wrap-7 .product-img img {
        max-width: 245px;
        height: auto;
        max-height: 240px;
      }
    }
    &-products > * {
      flex: 1 1 25%;
      margin: 10px 0;
    }

    button {
      margin-top: 3vh;
      color: white;
      background: $theme-color;

      &:hover {
        background: white;
        color: $theme-color;
        border: 1px solid $theme-color;
      }
    }
  }

  .category-phone {
    &-header {
      display: flex;
      align-items: center;

      h1 {
        padding-left: 10px;
      }
    }

    &-products {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin: 2vh 0;
      row-gap: 3vh;

      button {
        padding: 10px 15px;
        border-radius: 30px;
        border: none;
        box-shadow: $shadow;
        background: #f6f6f6;
        max-width: 10vw;
        margin: 0 10vw;

        @media #{$md-layout} {
          max-width: 50vw;
        }
        @media #{$xs-layout} {
          max-width: 50vw;
        }

        &:hover {
          background: white;
        }
      }
    }

    &-products > * {
      flex: 1 1 33%;
    }
  }

  .category-laptop {
    &-header {
      display: flex;
      align-items: center;

      h1 {
        padding-left: 10px;
      }
    }
  }

  .testimonials {
    align-items: center;
    justify-content: space-between;

    @media #{$md-layout} {
      flex-direction: column;
    }
    @media #{$xs-layout} {
      flex-direction: column;
    }

    .content {
      h1 {
        color: $theme-color;
        font-size: 3rem;
        font-weight: 600;
      }

      p {
        font-size: 1.1rem;
        font-weight: 600;
      }
    }

    img {
      height: 100%;
      width: 250px;
    }
  }
}

@media screen and (max-device-width: 995px), screen and (max-width: 995px) {
  .content {
    h1 {
      color: $theme-color;
      font-size: 25px !important;
    }

    p {
      font-size: 0.8rem !important;
    }
    img {
      height: 100% !important;
      width: 100% !important;
    }
  }
}
