.scrolling-container {
  .arrow-btn {
    position: absolute;
    top: 130%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: $shadow;
    cursor: pointer;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;

    @media #{$md-layout} {
      display: none;
    }
    @media #{$xs-layout} {
      display: none;
    }

    &:hover {
      transform: scale(1.2);
    }
  }

  .right {
    right: 45px;
  }

  .left {
    left: 45px;
  }

  .hid {
    display: none;
  }

  .scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    padding: 0;
    padding-bottom: 30px;
    padding-right: 50px;
    margin: 0;
    scrollbar-width: none;
    transition: all 1s ease-out;

    &::-webkit-scrollbar {
      display: none;
      visibility: hidden;
    }

    .col-xl-3 {
      // width: min-content;
      width: 333.1px;

      .product-wrap-7 {
        @media #{$md-layout} {
          margin: auto 10px;
        }
        @media #{$xs-layout} {
          margin: auto 5px;
        }
      }
    }
  }
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .card {
    flex: 0 0 auto;
  }
}

.ant-carousel {
  .slick-next {
    &::before {
      content: "";
    }
  }
  .slick-prev {
    &::before {
      content: "";
    }
  }
}

.home {
  width: 90vw;
  margin: 10px auto;

  &-group {
    display: none;

    @media #{$md-layout} {
      display: block;
    }
    @media #{$xs-layout} {
      display: block;
    }

    img {
      max-width: 95vw;
      display: block;
      margin: auto;
    }

    button {
      background: $theme-color;
      color: white;
      padding: 5px 15px;
      display: block;
      margin: 20px auto;
    }
  }

  .home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media #{$md-layout} {
      flex-direction: column;
    }
    @media #{$xs-layout} {
      flex-direction: column;
    }

    &-image {
      height: inherit;
      width: inherit;
      background: rgba($theme-color, 0.1);
      border-radius: 20px;
      margin-right: 10vw;
    }

    &-content {
      h1 {
        // color: $theme-color;
        font-weight: 600;
      }

      button {
        color: white;
        background: $theme-color;
        border-radius: 20px;
        border: none;
        box-shadow: $shadow;
        font-weight: 600;

        &:hover {
          background-color: white;
          border: 1px solid $theme-color;
          color: $theme-color;
        }
      }
    }
  }

  .home-most {
    padding: 2rem;
    border-radius: 30px;
    box-shadow: $shadow;
    margin: 2vh 0;
    h1 {
      margin-top: 1vh;
      font-weight: 700;
    }

    &-products {
      display: flex;
      flex-wrap: wrap;
    }
    &-products > * {
      flex: 1 1 23%;
      margin: 10px;
    }

    button {
      margin-top: 3vh;
      color: white;
      background: $theme-color;

      &:hover {
        background: white;
        color: $theme-color;
        border: 1px solid $theme-color;
      }
    }
  }

  .category-phone {
    &-header {
      display: flex;
      align-items: center;

      h1 {
        padding-left: 10px;
        margin: 0;
      }
    }

    &-products {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin: 20px 0;
      row-gap: 3vh;

      button {
        padding: 10px 15px;
        border-radius: 30px;
        border: none;
        box-shadow: $shadow;
        background: #f6f6f6;
        max-width: 10vw;
        margin: 0 10vw;

        @media #{$md-layout} {
          max-width: 24vw;
        }
        @media #{$xs-layout} {
          max-width: 50vw;
        }

        &:hover {
          background: white;
        }
      }
    }

    &-products > * {
      flex: 1 1 33%;
      // margin: 5px;

      @media #{$md-layout} {
        margin: 10px 20px;
      }
    }
  }

  .category-laptop {
    &-header {
      display: flex;
      align-items: center;

      h1 {
        padding-left: 10px;
        margin: 0;
      }
    }
    button {
      border: none;

      &:hover {
        background: white;
      }
    }
  }

  .testimonials {
    align-items: center;
    justify-content: space-between;

    @media #{$md-layout} {
      flex-direction: column;
    }
    @media #{$xs-layout} {
      flex-direction: column;
    }

    .content {
      h1 {
        color: $theme-color;
        font-size: 3rem;
        font-weight: 600;
      }

      p {
        font-size: 1.1rem;
        font-weight: 600;
      }
    }

    img {
      height: 100%;
      width: 320px;
    }
  }
}

@media #{$xs-layout} {
  .content {
    h1 {
      color: $theme-color;
      font-size: 25px !important;
    }

    p {
      font-size: 0.8rem !important;
    }
    img {
      height: 100% !important;
      width: 100% !important;
    }
  }
}

@media #{$md-layout} {
  .content {
    h1 {
      color: $theme-color;
      font-size: 2rem !important;
    }

    p {
      font-size: 1rem !important;
    }
    img {
      height: 100% !important;
      width: 100% !important;
    }
  }
}
