.home {
  width: 90vw;
  margin: 10px auto;

  .home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-image {
      height: inherit;
      width: inherit;
      background: rgba($theme-color, 0.1);
      border-radius: 20px;
      margin-right: 10vw;
    }

    &-content {
      h1 {
        color: $theme-color;
      }

      button {
        color: white;
        background: $theme-color;
        width: 100px;
        height: 40px;
        border-radius: 20px;
      }
    }
  }

  .home-most {
    h3 {
      margin-top: 4vh;
    }

    &-products {
      display: flex;

      .product-wrap-7 .product-img img {
        max-width: 245px;
        height: auto;
        max-height: 240px;
      }
    }
  }

  .category-phone {
    &-header {
      display: flex;
      align-items: center;

      h1 {
        padding-left: 10px;
      }
    }

    &-products {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-column-gap: 80px;
      row-gap: 50px;
      margin: 50px 0;

      .col-lg-4 {
        width: 100%;
      }
    }
  }

  .category-laptop {
    &-header {
      display: flex;
      align-items: center;

      h1 {
        padding-left: 10px;
      }
    }
  }

  .testimonials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4vh 0;

    .content {
      h1 {
        color: $theme-color;
        font-size: 4rem;
      }

      p {
        font-size: 1.1rem;
        color: $text-grey;
      }
    }

    img {
      max-height: 450px;
      width: auto;
    }
  }
}
