.how {
  width: 90vw;
  margin: 0 auto;

  .how-header {
    display: flex;
    margin: 25px 0;
    align-items: center;
    row-gap: 2vh;

    @media #{$md-layout} {
      flex-direction: column;
    }
    @media #{$xs-layout} {
      flex-direction: column;
    }

    .how-icon {
      color: $theme-color;
      font-size: 50px;
      // padding: 5px;
    }

    h1 {
      padding-left: 10px;
    }
  }

  .how-1 {
    display: flex;
    align-items: center;
    justify-content: space-around;

    @media #{$md-layout} {
      flex-direction: column;
    }
    @media #{$xs-layout} {
      flex-direction: column;
    }

    img {
      max-width: 50vw;
      height: auto;

      @media #{$md-layout} {
        max-width: 80vw;
      }
      @media #{$xs-layout} {
        max-width: 80vw;
      }
    }

    div {
      h1 {
        font-family: "Arial Rounded MT";
      }
    }
  }
  .how-2 {
    display: flex;
    align-items: center;
    justify-content: space-around;

    @media #{$md-layout} {
      flex-direction: column-reverse;
    }
    @media #{$xs-layout} {
      flex-direction: column-reverse;
    }
    img {
      max-width: 50vw;
      height: auto;

      @media #{$md-layout} {
        max-width: 80vw;
      }
      @media #{$xs-layout} {
        max-width: 80vw;
      }
    }

    .how-content-2 {
      text-align: right;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      h1 {
        font-family: "Arial Rounded MT";
      }
    }
  }
  .how-3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    @media #{$md-layout} {
      flex-direction: column;
    }
    @media #{$xs-layout} {
      flex-direction: column;
    }
    img {
      max-width: 50vw;
      height: auto;

      @media #{$md-layout} {
        max-width: 80vw;
      }
      @media #{$xs-layout} {
        max-width: 80vw;
      }
    }

    div {
      h1 {
        font-family: "Arial Rounded MT";
      }
    }
  }

  .grid-container {
    display: flex;
    flex-wrap: wrap;
    .benefit {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      &:hover {
        .img-container {
          box-shadow: $shadow-hover;
        }
        .ben-content {
          h1 {
            color: $theme-color;
          }
        }
      }

      .img-container {
        padding: 2rem 4rem;
        display: flex;
        box-shadow: $shadow;
        min-height: 35vh;
        border-radius: 50%;
        align-items: center;

        img {
          max-height: 20vh;
        }
      }

      .ben-content {
        padding: 2vh 0;
        h1 {
          font-family: "Arial Rounded Mt";
          font-weight: 500;
          font-size: 1.8rem;
        }
        p {
          font-family: "Arial Rounded Mt";
          color: $text-grey-light;
        }
      }
    }
  }

  .grid-container > * {
    flex: 1 1 33%;
  }
}
