.how {
  width: 90vw;
  margin: 0 auto;

  .how-header {
    display: flex;
    margin: 25px 0;
    align-items: center;

    @media #{$md-layout} {
      flex-direction: column;
    }
    @media #{$xs-layout} {
      flex-direction: column;
    }

    .how-icon {
      color: $theme-color;
      font-size: 50px;
      // padding: 5px;
    }

    h1 {
      padding-left: 10px;
    }
  }

  .how-1 {
    display: flex;
    align-items: center;
    justify-content: space-around;

    @media #{$md-layout} {
      flex-direction: column;
    }
    @media #{$xs-layout} {
      flex-direction: column;
    }

    img {
      max-width: 50vw;
      height: auto;

      @media #{$md-layout} {
        max-width: 80vw;
      }
      @media #{$xs-layout} {
        max-width: 80vw;
      }
    }
  }
  .how-2 {
    display: flex;
    align-items: center;
    justify-content: space-around;

    @media #{$md-layout} {
      flex-direction: column-reverse;
    }
    @media #{$xs-layout} {
      flex-direction: column-reverse;
    }
    img {
      max-width: 50vw;
      height: auto;

      @media #{$md-layout} {
        max-width: 80vw;
      }
      @media #{$xs-layout} {
        max-width: 80vw;
      }
    }

    .how-content-2 {
      text-align: right;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }
  .how-3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    @media #{$md-layout} {
      flex-direction: column;
    }
    @media #{$xs-layout} {
      flex-direction: column;
    }
    img {
      max-width: 50vw;
      height: auto;

      @media #{$md-layout} {
        max-width: 80vw;
      }
      @media #{$xs-layout} {
        max-width: 80vw;
      }
    }
  }

  .grid-container {
    display: flex;
    flex-wrap: wrap;
    .benefit {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  .grid-container > * {
    flex: 1 1 33%;
  }
}
