.fix-body {
  overflow-y: hidden;
  max-height: 100vh;
}

.search-modal {
  min-height: 100vh;
  width: 100vw;
  // position: fixed;
  // inset: 0;
  // background: white;
  // z-index: 6;

  input {
    width: 100vw;
    position: fixed;
    border: none;
    border-bottom: 2px solid rgba($text-grey-light, 0.3);
    padding: 10px 5px;

    &:focus-within {
      outline: none;
    }
  }

  img.close {
    position: fixed;
    top: 15px;
    right: 15px;
    height: 17px;
    cursor: pointer;
  }

  .dataResult {
    padding: 5px;
    text-decoration: none;
    color: black;
    padding-top: 40px;

    a.dataItem {
      display: flex;
      align-items: center;
      text-decoration: none;
      margin: 5px 0;
      padding: 2px 4px;

      &:hover {
        background: lightgray;
        border-radius: 5px;
      }

      img {
        height: 50px;
        width: auto;
      }
      p {
        width: 100%;
        margin: 0;
        // text-decoration: none;
        color: black;
        font-weight: 600;
        padding-left: 10px;
      }
    }
  }
}
