.product-three {
  align-items: center;
  margin: 2vh 0;

  &-image {
    border-radius: 30px;
    box-shadow: $shadow;
    z-index: -1;

    img {
      width: 100%;
      height: 50%;
      padding: 2rem;
    }
  }

  &-details {
    h1 {
      font-weight: 200;
      padding-left: 30px;
      @media #{$md-layout} {
        font-size: 1.4rem !important;
      }
    }
    h4 {
      color: $text-grey-light;
      font-weight: 200;
      padding-left: 30px;

      @media #{$md-layout} {
        font-size: 1rem !important;
      }
    }
    h2 {
      padding: 1vh 0;
      color: $text-grey-light;
      font-weight: 250;
      padding-left: 30px;

      @media #{$md-layout} {
        font-size: 1rem !important;
      }

      span {
        color: $theme-color;
        font-size: 3rem;

        @media #{$md-layout} {
          font-size: 1.4rem !important;
        }
      }
    }

    button {
      margin: 2vh 30px;
      background: $theme-color;
      color: white;
      padding-left: 30px;

      @media #{$md-layout} {
        font-size: 1rem !important;
        width: auto !important;
        padding: 5px 10px !important;
      }

      &:hover {
        background: white;
        color: $theme-color;
        border: 1px solid $theme-color;
      }
    }
  }
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 0;
  row-gap: 20px;
}

.product-grid > * {
  flex: 0 1 33%;

  @media #{$md-layout} {
    margin: auto 50px;
  }
}

.product-wrap {
  display: flex;
  align-items: center;
  border-radius: 30px;
  box-shadow: $shadow;
  padding: 5px 20px;
  margin: 5vh 0;
  &:hover {
    box-shadow: $shadow-hover;
  }

  .product-img {
    img {
      max-width: 300px;
      height: auto;

      @media #{$md-layout} {
        max-width: 180px !important;
      }
    }
  }

  .product-content-2 {
    display: flex;
    justify-content: space-between;

    margin: 20px 0 0;
    .title-price-wrap-2 {
      margin-left: 2vw;
      h2 {
        line-height: 1;
        font-family: "Arial Rounded MT";
        margin: 0 0 6px;
        a {
          font-size: 2rem;
          font-weight: 500;
          text-decoration: none;
          text-align: inherit;

          @media #{$md-layout} {
            font-size: 1.4rem !important;
            line-height: 1 !important;
          }

          color: #444;
          &:hover {
            color: $theme-color;
          }
        }
      }

      h4 {
        line-height: 1;
        margin: 0 0 6px;
        font-family: "Arial Rounded MT";
        a {
          font-size: 19px;
          font-weight: 500;
          text-decoration: none;
          text-align: inherit;
          color: $text-grey-light;

          @media #{$md-layout} {
            font-size: 1rem !important;
            line-height: 1 !important;
          }
        }
      }
      .price-2 {
        font-family: "Arial Rounded MT";
        span {
          font-size: 1rem;
          position: relative;
          color: #444;
          @media #{$md-layout} {
            font-size: 0.9rem !important;
          }
          &.old {
            text-decoration: 2px solid line-through;
            font-size: 1.8rem;

            @media #{$md-layout} {
              font-size: 1.2rem !important;
            }

            color: #444;
          }

          &.fix {
            font-size: 1.8rem;

            @media #{$md-layout} {
              font-size: 1.2rem !important;
            }
          }

          &.new {
            color: $theme-color;
            font-size: 1.8rem;

            @media #{$md-layout} {
              font-size: 1.2rem !important;
            }
          }

          &:last-child:before {
            display: none;
          }
        }
      }
    }
  }
}

.product-wrap-7 {
  position: relative;
  overflow: hidden;
  height: 100%;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
  justify-content: flex-start;
  max-width: 350px;
  border-radius: 30px;
  box-shadow: $shadow;
  margin: 10px 10px;
  padding: 40px 10px;
  &:hover {
    box-shadow: $shadow-hover;
  }

  .product-img {
    position: relative;
    display: flex;
    justify-content: center;
    img {
      max-width: 250px;
      height: auto;
      max-height: 250px;
    }
    &-badges {
      span.blue {
        position: relative;
        display: inline-block;
        margin-right: 10px;
        padding: 3px 11px;
        font-size: 14px;
        font-weight: 500;
        background: $bg-blue;
        border-radius: 30px;
        color: white;
      }
      span.orange {
        position: relative;
        display: inline-block;
        padding: 3px 11px;
        font-size: 14px;
        font-weight: 500;
        background: $theme-color;
        border-radius: 30px;
        color: white;
      }
    }
    & .default-img {
      transition: all 0.5s ease-in-out;
    }
    & .hover-img {
      position: absolute;
      top: 0;
      left: 0;

      visibility: hidden;

      width: 100%;

      transition: all 0.5s ease-in-out;
      transform: translateX(100%);

      opacity: 0;
    }
    .product-action-2 {
      position: absolute;
      right: 10px;
      bottom: 10px;

      display: flex;
      justify-content: flex-end;

      width: 100%;
      a,
      button {
        font-size: 16px;
        line-height: 42px;

        display: inline-block;

        width: 42px;
        height: 42px;
        margin: 0 3px;

        transition: all 0.4s ease-in-out;
        transform: scaleX(0);
        text-align: center;

        color: #fff;
        border: none;
        background: none;
        background-color: #555;
        &:hover,
        &.active {
          background-color: $theme-color;
        }
      }
    }

    &-badges {
      position: absolute;
      right: 10px;
      top: -12px;
      & > span {
        font-size: 13px;
        font-weight: 500;
        line-height: 1;
        padding: 3px 11px;
        border-radius: 3px;
        width: fit-content;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .pro-wishlist-2 {
      line-height: 35px;
      position: absolute;
      z-index: 9;
      top: 20px;
      right: 20px;
      text-align: center;

      a,
      button {
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        transition: all 0.3s ease-in-out;
        color: #fff;
        border: none;
        border-radius: 100%;
        background: #555555;

        &:hover,
        &.active {
          background: $theme-color;
        }

        span {
          padding-left: 100px;
        }
      }
    }
  }
  .product-content-2 {
    display: flex;
    justify-content: space-between;

    margin: 20px 0 0;
    .title-price-wrap-2 {
      h3 {
        line-height: 1;
        margin: 0 0 6px;
        font-family: "Arial Rounded MT";
        a {
          font-size: 18px;
          font-weight: 500;
          text-decoration: none;
          text-align: inherit;

          color: #444;
          &:hover {
            color: $theme-color;
          }
        }
      }

      h6 {
        line-height: 1;
        margin: 0 0 6px;
        font-family: "Arial Rounded MT";

        a {
          text-decoration: none;
          color: $text-grey-light;
        }
      }
      .price-2 {
        span {
          font-size: 15px;
          position: relative;
          font-family: "Arial Rounded MT";
          color: #444;
          &.old {
            text-decoration: 2px solid line-through;

            color: #444;
            &.red {
              color: #ff3d2a;
            }
          }
        }
      }
    }
  }
  &:hover .hover-img {
    visibility: visible;

    transform: translateX(0);

    opacity: 1;
  }

  &:hover .product-action-2 a {
    transform: scaleX(1);
  }
  &:hover .product-action-2 button {
    transform: scaleX(1);
  }
}

@media screen and (max-device-width: 995px), screen and (max-width: 995px) {
  .product-wrap {
    padding: 0;
    box-shadow: none;
    border: 1px solid rgba(#707070, 0.1);
    border-radius: 10px;
    margin: 20px;

    .product-img {
      img {
        max-width: 100px;
        height: auto;
      }
    }

    .product-content-2 {
      display: flex;
      justify-content: space-between;

      margin: 5px 1px;
      .title-price-wrap-2 {
        margin-left: 2vw;
        h2 {
          line-height: 0.5;
          a {
            font-size: 0.8rem;
          }
        }

        h4 {
          line-height: 0.5;
          a {
            font-size: 0.7rem;
          }
        }
        .price-2 {
          span {
            font-size: 0.7rem;

            span {
              font-size: 1rem !important;
            }
          }
        }
      }
    }
  }

  .product-wrap-7 {
    margin: 10px 0;
    padding: 0;
    box-shadow: none;
    border: 1px solid rgba(#707070, 0.1);
    border-radius: 10px;
    min-width: 30vw;

    .product-img {
      padding: 10px;
      img {
        max-width: 200px !important;
        height: auto;
      }

      &-badges {
        span.blue {
          margin: 15px 5px 0 10px;
          padding: 5px 15px;
          font-size: 10px;

          color: white;
        }
        span.orange {
          margin-left: 10px;
          margin-top: 15px;
          padding: 5px 15px;
          font-size: 10px;
        }
      }
    }

    .product-content-2 {
      padding: 10px;
      margin: 0;
      .title-price-wrap-2 {
        h3 {
          line-height: 1;
          margin: 0 0 6px;
          a {
            font-size: 1rem;
          }
        }

        h6 {
          a {
            font-size: 0.8rem;
            text-decoration: none;
            color: $text-grey-light;
          }
        }
        .price-2 {
          span {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
  .product-three {
    &-image {
      border-radius: 10px;

      img {
        width: 100%;
        height: 100%;
        padding: 0px;
      }
    }

    &-details {
      max-height: 400px;
      text-align: left;
      padding: px;

      h1 {
        font-size: 0.8rem;
        padding-left: 5px;
        font-weight: bolder;
        margin: 0;
      }
      h4 {
        font-size: 0.7rem;
        padding-left: 5px;
        margin: 0;
      }
      h2 {
        font-size: 0.8rem;
        padding-left: 5px;
        padding-bottom: 0;

        span {
          color: $theme-color;
          font-size: 0.9rem;
          padding-left: 0px;
          margin: 0;
        }
      }
      button {
        width: 120px;
        padding: 2px 5px;
        font-size: 10px;
        margin: 0;
      }
    }
  }
}
