.detail {
  width: 90vw;
  margin: 4vh auto;

  .tag {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 26px;
    padding: 10px;
    box-shadow: $shadow;
    background-color: rgba($theme-color, 0.1);

    p {
      font-size: 1.2em;
      font-weight: bold;
      padding-left: 20px;

      span {
        color: $theme-color;
      }
    }
  }

  &-show {
    display: flex;
    flex-wrap: wrap;
    margin: 2vh 0;

    & > * {
      flex-basis: 50%;
    }

    &-content {
      display: flex;
      justify-content: space-between;
      box-shadow: $shadow;
      border-radius: 26px;
      padding: 30px;

      &-left {
        width: 95%;
        .ant-slider {
          width: 100%;
          height: 20px;
        }
        margin: 0 10px;
      }

      &-right {
        button {
          padding: 10px 35px;
          border-radius: 26px;
          color: white;
          background-color: $theme-color;
          border: none;
          box-shadow: $shadow;

          &:hover {
            background-color: white;
            border: 1px solid $theme-color;
            color: $theme-color;
          }
        }
      }
    }
    div {
      // max-height: 45vh;
    }
  }

  &-product {
    width: 70%;
    box-shadow: $shadow;
    border-radius: 26px;
    padding: 30px;
    margin: 4vh 0;
  }

  .what {
    box-shadow: $shadow;
    border-radius: 26px;
    padding: 30px;
  }

  &-most {
    margin-top: 4vh;

    .most-products {
      display: flex;
    }
  }

  .testimonials {

    align-items: center;
    justify-content: space-between;


    @media #{$md-layout} {
      flex-direction: column;
    }
    @media #{$xs-layout} {
      flex-direction: column;
    }

    .content {
      h1 {
        color: $theme-color;
        font-size: 3rem;
        font-weight: 600;
      }

      p {
        font-size: 1.1rem;
        font-weight: 600;
      }
    }

    img {
      height: 100%;
      width: 250px;

    }
  }
}

.ant-modal {
  min-width: 50vw;
  .ant-modal-content {
    border-radius: 30px;
    min-width: 50vw;

    .ant-modal-header {
      border-radius: 30px;
      text-align: center;
    }

    .ant-modal-body {
      .upper {
        display: flex;

        .left {
          width: 180%;

          img {
            max-width: 125px;
            margin-bottom: 4vh;
          }

          h4 {
            color: $theme-color;
            font-weight: 600;
            font-family: "Arial Rounded MT";
          }

          h5 {
            font-family: "Sitka Small";
            font-weight: 600;
          }
        }

        img {
          max-width: 25vw;
          height: auto;
        }
      }

      .lower {
        display: flex;

        img {
          max-height: 30vh;
        }
        .content {
          .tag {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 12px;
            padding: 5px 10px;
            box-shadow: $shadow;
            background-color: rgba($theme-color, 0.1);
            margin: 2vh;

            p {
              font-size: 1rem;
              font-weight: 550;
              padding-left: 10px;
              font-family: "Sitka Small";
              margin-bottom: 0;

              span {
                color: $theme-color;
              }
            }
          }
          input {
            border-bottom: 1px solid black;
            width: 80%;

            &:focus {
              border-bottom: 1px solid $theme-color;
            }
          }
        }
      }
    }

    .ant-modal-footer {
      .ant-btn {
        border-radius: 30px;
        padding: 0px 20px;
      }

      .ant-btn-primary {
        background: $theme-color;
        border: none;
      }
    }
  }
}

.react_lightgallery_item {
  button {
    box-shadow: none;
    border-radius: none;
  }
}

.ant-modal-close {
  box-shadow: none;
  border-radius: none;
}

.ant-slider {
  &:hover {
    .ant-slider-track {
      background: transparent;
    }

    .ant-slider-handle:not(.ant-tooltip-open) {
      border-color: black;
    }
  }
  .ant-slider-rail {
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: transparent;
    transition: background-color 0.3s;
    border: 1px solid black;
    border-radius: 30px;
  }

  .ant-slider-track {
    position: absolute;
    height: 30px;
    background-color: transparent;
    border-radius: 30px;
    transition: background-color 0.3s;

    &:hover {
      background: transparent;
    }
  }

  .ant-slider-handle {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: -6px;
    background-color: $theme-color;
    border: solid 2px black;
    border-radius: 50%;
    box-shadow: 0;
    cursor: pointer;
    transition: border-color 0.3s, box-shadow 0.6s,
      transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);

    &:focus {
      outline: none;
      border-color: $theme-color;
    }
  }
}

.image-gallery {
  button {
    box-shadow: none;
    border-radius: 2px;

    &:hover,
    &:active,
    &:focus {
      border-color: $theme-color;
    }
  }
}
// .image-gallery-content.left .image-gallery-slide .image-gallery-image,
// .image-gallery-content.right .image-gallery-slide .image-gallery-image {
//   max-height: 50vh;
// }
