.detail {
  width: 90vw;
  margin: 4vh auto;

  .tag {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    border-radius: 26px;
    padding: 20px;
    box-shadow: $shadow;
    background-color: rgba($theme-color, 0.1);

    p {
      font-size: 1.2em;
      font-weight: bold;
      padding-left: 20px;

      span {
        color: $theme-color;
      }
    }
  }

  &-show {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2vh 0;

    & > * {
      flex-basis: 50%;
    }

    &-content {
      display: flex;
      justify-content: space-between;
      box-shadow: $shadow;
      border-radius: 26px;
      padding: 30px;

      &-left {
        .ant-slider {
          width: 100%;
          height: 20px;
        }
        margin: 0 10px;
      }

      &-right {
        button {
          padding: 10px 35px;
          border-radius: 26px;
          color: white;
          background-color: $theme-color;
          border: none;
          box-shadow: $shadow;

          &:hover {
            background-color: white;
            border: 1px solid $theme-color;
            color: $theme-color;
          }
        }
      }
    }
    div {
      max-height: 45vh;
    }
  }

  &-product {
    width: 70%;
    box-shadow: $shadow;
    border-radius: 26px;
    padding: 30px;
    margin: 4vh 0;
  }

  .sec3 {
    display: flex;
    justify-content: space-between;

    .what {
      box-shadow: $shadow;
      border-radius: 26px;
      padding: 30px;
    }
  }

  &-most {
    margin-top: 4vh;

    .most-products {
      display: flex;
    }
  }

  .testimonials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4vh 0;

    .content {
      h1 {
        color: $theme-color;
        font-size: 4rem;
      }

      p {
        font-size: 1.1rem;
        color: $text-grey;
      }
    }

    img {
      max-height: 450px;
      width: auto;
    }
  }
}

.ant-modal-content {
  border-radius: 30px;

  .ant-modal-header {
    border-radius: 30px;
    text-align: center;
  }

  .ant-modal-body {
    input {
      width: 90%;
      border-radius: 30px;
      padding: 10px 20px;
      border: none;
      box-shadow: $shadow;
      border: none;
      margin: 1vh 2vw;

      &:focus,
      &:active {
        border-color: $theme-color;
      }
    }
  }

  .ant-modal-footer {
    .ant-btn {
      border-radius: 30px;
      padding: 0px 20px;
    }

    .ant-btn-primary {
      background: $theme-color;
      border: none;
    }
  }
}
