.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0;
}

.product-grid > * {
  flex: 1 1 33%;
}

.product-wrap {
  display: flex;
  align-items: center;
  border-radius: 30px;
  box-shadow: $shadow;
  padding: 20px;
  margin: 5vh 0;
  &:hover {
    box-shadow: $shadow-hover;
  }

  @media #{$md-layout} {
    flex-direction: column;
  }
  @media #{$xs-layout} {
    flex-direction: column;
  }

  .product-img {
    img {
      max-width: 300px;
      height: auto;
    }
  }

  .product-content-2 {
    display: flex;
    justify-content: space-between;

    margin: 20px 0 0;
    .title-price-wrap-2 {
      h3 {
        line-height: 1;

        margin: 0 0 6px;
        a {
          font-size: 22px;
          font-weight: 500;
          text-decoration: none;
          text-align: inherit;

          color: #444;
          &:hover {
            color: $theme-color;
          }
        }
      }

      h4 {
        line-height: 1;
        margin: 0 0 6px;
        a {
          font-size: 19px;
          font-weight: 500;
          text-decoration: none;
          text-align: inherit;
          color: $text-grey;
        }
      }
      .price-2 {
        span {
          font-size: 15px;

          position: relative;

          margin-right: 17px;

          color: #444;
          &.old {
            text-decoration: line-through;

            color: #444;
            &.red {
              color: #ff3d2a;
            }
          }
          &::before {
            position: absolute;
            top: 10px;
            right: -13px;

            width: 6px;
            height: 2px;

            content: "";

            background-color: #a5a5a5;
          }
          &:last-child:before {
            display: none;
          }
        }
      }
    }
  }
}

.product-wrap-7 {
  position: relative;
  overflow: hidden;
  height: 100%;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
  justify-content: center;
  max-width: 350px;
  border-radius: 30px;
  box-shadow: $shadow;
  margin: 10px 10px;
  padding: 20px;
  &:hover {
    box-shadow: $shadow-hover;
  }

  .product-img {
    position: relative;
    display: flex;
    justify-content: center;
    img {
      max-width: 250px;
      height: auto;
      max-height: 250px;
    }
    span {
      font-size: 14px;
      font-weight: 500;

      position: absolute;
      top: 20px;
      right: 20px;

      color: $theme-color;
    }
    & .default-img {
      transition: all 0.5s ease-in-out;
    }
    & .hover-img {
      position: absolute;
      top: 0;
      left: 0;

      visibility: hidden;

      width: 100%;

      transition: all 0.5s ease-in-out;
      transform: translateX(100%);

      opacity: 0;
    }
    .product-action-2 {
      position: absolute;
      right: 10px;
      bottom: 10px;

      display: flex;
      justify-content: flex-end;

      width: 100%;
      a,
      button {
        font-size: 16px;
        line-height: 42px;

        display: inline-block;

        width: 42px;
        height: 42px;
        margin: 0 3px;

        transition: all 0.4s ease-in-out;
        transform: scaleX(0);
        text-align: center;

        color: #fff;
        border: none;
        background: none;
        background-color: #555;
        &:hover,
        &.active {
          background-color: $theme-color;
        }
      }
    }

    &-badges {
      position: absolute;
      top: 12px;
      left: 12px;
      & > span {
        font-size: 13px;
        font-weight: 500;
        line-height: 1;

        position: static;

        display: block;

        margin-bottom: 10px;
        padding: 3px 11px;

        border-radius: 3px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .pro-wishlist-2 {
      line-height: 35px;

      position: absolute;
      z-index: 9;
      top: 20px;
      right: 20px;

      text-align: center;

      a,
      button {
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        transition: all 0.3s ease-in-out;
        color: #fff;
        border: none;
        border-radius: 100%;
        background: #555555;

        &:hover,
        &.active {
          background: $theme-color;
        }

        span {
          padding-left: 100px;
        }
      }
    }
  }
  .product-content-2 {
    display: flex;
    justify-content: space-between;

    margin: 20px 0 0;
    .title-price-wrap-2 {
      h3 {
        line-height: 1;

        margin: 0 0 6px;
        a {
          font-size: 16px;
          font-weight: 500;
          text-decoration: none;
          text-align: inherit;

          color: #444;
          &:hover {
            color: $theme-color;
          }
        }
      }
      .price-2 {
        span {
          font-size: 15px;

          position: relative;

          margin-right: 17px;

          color: #444;
          &.old {
            text-decoration: line-through;

            color: #444;
            &.red {
              color: #ff3d2a;
            }
          }
          &::before {
            position: absolute;
            top: 10px;
            right: -13px;

            width: 6px;
            height: 2px;

            content: "";

            background-color: #a5a5a5;
          }
          &:last-child:before {
            display: none;
          }
        }
      }
    }
  }
  &:hover .hover-img {
    visibility: visible;

    transform: translateX(0);

    opacity: 1;
  }

  &:hover .product-action-2 a {
    transform: scaleX(1);
  }
  &:hover .product-action-2 button {
    transform: scaleX(1);
  }
}
