.product-three {
  align-items: center;
  margin: 2vh 0;

  &-image {
    border-radius: 30px;
    box-shadow: $shadow;

    img {
      width: 100%;
      height: 50%;
      padding: 2rem;
    }
  }

  &-details {
    h1 {
      font-weight: 200;
      padding-left: 30px;
    }
    h4 {
      color: $text-grey-light;
      font-weight: 200;
      padding-left: 30px;
    }
    h2 {
      padding: 1vh 0;
      color: $text-grey-light;
      font-weight: 250;
      padding-left: 30px;

      span {
        color: $theme-color;
        font-size: 3rem;
        padding-left: 30px;
      }
    }

    button {
      margin: 2vh inherit;
      background: $theme-color;
      color: white;
      padding-left: 30px;
      border: none;

      &:hover {
        background: white;
        color: $theme-color;
        border: 1px solid $theme-color;
      }
    }
  }
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0;
  row-gap: 2vh;
}

.product-grid > * {
  flex: 1 1 33%;
}

.product-wrap {
  display: flex;
  align-items: center;
  border-radius: 30px;
  box-shadow: $shadow;
  padding: 20px;
  margin: 5vh 0;
  &:hover {
    box-shadow: $shadow-hover;
  }

  @media #{$md-layout} {
    flex-direction: column;
  }
  @media #{$xs-layout} {
    flex-direction: column;
  }

  .product-img {
    img {
      max-width: 300px;
      height: auto;
    }
  }

  .product-content-2 {
    display: flex;
    justify-content: space-between;

    margin: 20px 0 0;
    .title-price-wrap-2 {
      margin-left: 2vw;
      h2 {
        line-height: 1;
        font-family: "Arial Rounded MT";
        margin: 0 0 6px;
        a {
          font-size: 2rem;
          font-weight: 500;
          text-decoration: none;
          text-align: inherit;

          color: #444;
          &:hover {
            color: $theme-color;
          }
        }
      }

      h4 {
        line-height: 1;
        margin: 0 0 6px;
        font-family: "Arial Rounded MT";
        a {
          font-size: 19px;
          font-weight: 500;
          text-decoration: none;
          text-align: inherit;
          color: $text-grey-light;
        }
      }
      .price-2 {
        font-family: "Arial Rounded MT";
        span {
          font-size: 15px;

          position: relative;

          margin-right: 17px;

          color: #444;
          &.old {
            text-decoration: 3px solid line-through;

            color: #444;
            &.red {
              color: #ff3d2a;
            }
          }

          &:last-child:before {
            display: none;
          }
        }
      }
    }
  }
}

.product-wrap-7 {
  position: relative;
  overflow: hidden;
  height: 100%;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
  justify-content: center;
  max-width: 350px;
  border-radius: 30px;
  box-shadow: $shadow;
  margin: 1vh 1vw;
  padding: 4vh 1vw;
  &:hover {
    box-shadow: $shadow-hover;
  }

  .product-img {
    position: relative;
    display: flex;
    justify-content: center;
    img {
      max-width: 250px;
      height: auto;
      max-height: 250px;
    }
    &-badges {
      span.blue {
        position: static;
        display: block;
        margin-bottom: 10px;
        padding: 3px 11px;
        font-size: 14px;
        font-weight: 500;
        background: $bg-blue;
        border-radius: 30px;
        color: white;
        right: 0;
        top: -30px;
      }
      span.orange {
        position: static;
        display: block;
        margin-bottom: 10px;
        padding: 3px 11px;
        font-size: 14px;
        font-weight: 500;
        background: $theme-color;
        border-radius: 30px;
        color: white;
        left: 0;
        top: -30px;
      }
    }
    & .default-img {
      transition: all 0.5s ease-in-out;
    }
    & .hover-img {
      position: absolute;
      top: 0;
      left: 0;

      visibility: hidden;

      width: 100%;

      transition: all 0.5s ease-in-out;
      transform: translateX(100%);

      opacity: 0;
    }
    .product-action-2 {
      position: absolute;
      right: 10px;
      bottom: 10px;

      display: flex;
      justify-content: flex-end;

      width: 100%;
      a,
      button {
        font-size: 16px;
        line-height: 42px;

        display: inline-block;

        width: 42px;
        height: 42px;
        margin: 0 3px;

        transition: all 0.4s ease-in-out;
        transform: scaleX(0);
        text-align: center;

        color: #fff;
        border: none;
        background: none;
        background-color: #555;
        &:hover,
        &.active {
          background-color: $theme-color;
        }
      }
    }

    &-badges {
      position: absolute;
      top: -20px;
      left: 0px;
      & > span {
        font-size: 13px;
        font-weight: 500;
        line-height: 1;
        position: static;
        display: block;
        margin-bottom: 10px;
        padding: 3px 11px;
        border-radius: 3px;
        width: fit-content;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .pro-wishlist-2 {
      line-height: 35px;
      position: absolute;
      z-index: 9;
      top: 20px;
      right: 20px;
      text-align: center;

      a,
      button {
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        transition: all 0.3s ease-in-out;
        color: #fff;
        border: none;
        border-radius: 100%;
        background: #555555;

        &:hover,
        &.active {
          background: $theme-color;
        }

        span {
          padding-left: 100px;
        }
      }
    }
  }
  .product-content-2 {
    display: flex;
    justify-content: space-between;

    margin: 20px 0 0;
    .title-price-wrap-2 {
      h3 {
        line-height: 1;
        margin: 0 0 6px;
        font-family: "Arial Rounded MT";
        a {
          font-size: 18px;
          font-weight: 500;
          text-decoration: none;
          text-align: inherit;

          color: #444;
          &:hover {
            color: $theme-color;
          }
        }
      }

      h6 {
        line-height: 1;
        margin: 0 0 6px;
        font-family: "Arial Rounded MT";

        a {
          text-decoration: none;
          color: $text-grey-light;
        }
      }
      .price-2 {
        span {
          font-size: 15px;
          position: relative;
          margin-right: 17px;
          font-family: "Arial Rounded MT";
          color: #444;
          &.old {
            text-decoration: 2px solid line-through;

            color: #444;
            &.red {
              color: #ff3d2a;
            }
          }
        }
      }
    }
  }
  &:hover .hover-img {
    visibility: visible;

    transform: translateX(0);

    opacity: 1;
  }

  &:hover .product-action-2 a {
    transform: scaleX(1);
  }
  &:hover .product-action-2 button {
    transform: scaleX(1);
  }
}

@media screen and (max-device-width: 995px), screen and (max-width: 995px) {
  .product-three {



    &-image {
 height: 220px!important;

      img {
        width:100%;
        height:100%;
        padding: 0px;


      }
    }

    &-details {
           max-height: 400px;
           text-align: left;
           padding: px;

           h1 {
             color: $text-grey-light;
             font-size: 15px;
             padding-left: 5px;
              font-weight: bolder;
                 }
      h4 {
        color: $text-grey-light;
        font-size: 12px;
         padding-left: 5px;
            }
      h2 {
       font-size: 15px;

        color: $text-grey-light;
   padding-left: 5px;


        span {
          color: $theme-color;
          font-size: 15px;
             padding-left: 0px;
        }
      }
      button {
         width: 120px!important;
         padding: 0px 5px;
         font-size: 10px;
}


    }
  }
}
