.detail {
  width: 90vw;
  margin: 4vh auto;

  .tag {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    border-radius: 26px;
    padding: 10px;
    box-shadow: $shadow;
    background-color: rgba($theme-color, 0.1);

    @media #{$md-layout} {
      width: 100%;
    }
    @media #{$xs-layout} {
      width: 100%;
    }

    p {
      font-size: 1.2em;
      font-weight: bold;
      padding-left: 20px;

      @media #{$md-layout} {
        font-size: 0.9em;
      }
      @media #{$xs-layout} {
        font-size: 0.9em;
      }

      span {
        color: $theme-color;
      }
    }
  }

  &-show {
    display: flex;
    flex-wrap: wrap;
    margin: 2vh 0;
    justify-content: space-between;

    @media #{$md-layout} {
      flex-direction: column-reverse;
    }
    @media #{$xs-layout} {
      flex-direction: column-reverse;
    }

    // & > * {
    //   flex-basis: 50%;
    // }

    &-content {
      display: flex;
      justify-content: space-between;
      box-shadow: $shadow;
      border-radius: 26px;
      padding: 30px;
      width: 55%;
      height: fit-content;

      @media #{$md-layout} {
        width: 100%;
        padding: 30px 0;
      }
      @media #{$xs-layout} {
        width: 100%;
        padding: 30px 0;
      }

      &-left {
        font-family: "Arial Rounded MT";

        h3 {
          font-weight: 400;
        }

        h6 {
          color: $text-grey-light;
          width: 80%;
        }
        margin: 0 10px;
      }

      &-right {
        @media #{$md-layout} {
          display: none;
        }
        @media #{$xs-layout} {
          display: none;
        }
        h1 {
          font-family: "Arial Rounded MT";
          text-align: center;
        }
        h6 {
          font-family: "Arial Rounded MT";
        }
        .cb {
          height: 30px;
          width: 30px;
          border-radius: 50%;
          box-shadow: $shadow;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        p {
          font-family: "Arial Rounded MT";
        }
        button {
          padding: 10px 35px;
          border-radius: 26px;
          color: white;
          background-color: $theme-color;
          border: none;
          box-shadow: $shadow;

          &:hover {
            background-color: white;
            border: 1px solid $theme-color;
            color: $theme-color;
          }
        }
      }
    }
  }

  &-product {
    width: 80%;
    box-shadow: $shadow;
    border-radius: 26px;
    padding: 30px;
    margin: 4vh 0;

    @media #{$md-layout} {
      width: 100%;
    }
    @media #{$xs-layout} {
      width: 100%;
    }
  }

  .what {
    box-shadow: $shadow;
    border-radius: 26px;
    padding: 30px;
    width: 80%;
    margin: 4vh 0;

    @media #{$md-layout} {
      width: 100%;
    }
    @media #{$xs-layout} {
      width: 100%;
    }

    &-content {
      display: flex;
      flex-wrap: wrap;
    }

    &-content > * {
      flex: 0 1 33%;
    }
  }

  &-most {
    margin-top: 4vh;

    .most-products {
      display: flex;

      @media #{$md-layout} {
        flex-direction: column;
      }
      @media #{$xs-layout} {
        flex-direction: column;
      }
    }
  }

  .faq-container {
    width: 80%;

    @media #{$md-layout} {
      width: 100%;
    }
    @media #{$xs-layout} {
      width: 100%;
    }
  }

  .testimonials {
    align-items: center;
    justify-content: space-between;
    margin: 5vh 0;

    @media #{$md-layout} {
      flex-direction: column;
    }
    @media #{$xs-layout} {
      flex-direction: column;
    }

    .content {
      h1 {
        color: $theme-color;
        font-size: 3rem;
        font-weight: 600;
      }

      p {
        font-size: 1.1rem;
        font-weight: 600;
      }
    }

    img {
      height: 100%;
      width: 330px;
    }
  }
}
.price-stick {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: $shadow;
  height: 80px;
  width: 100vw;
  background: white;
}

.ant-modal {
  min-width: 50vw;
  .ant-modal-content {
    border-radius: 30px;
    min-width: 50vw;

    .ant-modal-header {
      border-radius: 30px;
      text-align: center;
    }

    .ant-modal-body {
      .upper {
        display: flex;
        @media #{$md-layout} {
          flex-direction: column;
        }
        @media #{$xs-layout} {
          flex-direction: column;
        }

        .left {
          width: 180%;

          img {
            max-width: 125px;
            margin-bottom: 4vh;
          }

          h4 {
            color: $theme-color;
            font-weight: 600;
            font-family: "Arial Rounded MT";
          }

          h5 {
            font-family: "Sitka Small";
            font-weight: 600;
          }
        }

        img.img-link {
          max-width: 25vw;
          height: auto;

          @media #{$md-layout} {
            position: absolute;
            left: 50%;
            top: 50%;
            max-width: 40vw;
          }
          @media #{$xs-layout} {
            position: absolute;
            left: 50%;
            top: 30%;
            max-width: 40vw;
          }
        }
      }

      .lower {
        display: flex;

        @media #{$md-layout} {
          flex-direction: column;
        }
        @media #{$xs-layout} {
          flex-direction: column;
        }

        img {
          max-height: 30vh;

          @media #{$md-layout} {
            max-width: 35vw;
          }
          @media #{$xs-layout} {
            max-width: 35vw;
          }
        }
        .content {
          .tag {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 12px;
            padding: 5px 10px;
            box-shadow: $shadow;
            background-color: rgba($theme-color, 0.1);
            margin: 2vh;

            p {
              font-size: 1rem;
              font-weight: 550;
              padding-left: 10px;
              font-family: "Sitka Small";
              margin-bottom: 0;

              span {
                color: $theme-color;
              }
            }
          }
          input {
            border-bottom: 1px solid rgba($text-grey-light, 0.5);
            width: 80%;

            @media #{$md-layout} {
              left: 0;
            }
            @media #{$xs-layout} {
              left: 0;
            }

            &:focus {
              border-bottom: 1px solid $theme-color;

              .popup-icon {
                color: $theme-color;
              }
            }
          }
        }
      }

      img.logo {
        max-width: 125px;
      }

      h4.thank {
        text-align: center;
        color: $theme-color;
        font-family: "Sitka Small";
        font-weight: 600;
        margin: 3vh 0;

        @media #{$md-layout} {
          font-size: 1rem;
        }
        @media #{$xs-layout} {
          font-size: 1rem;
        }
      }

      h5.you {
        text-align: center;
        font-family: "Sitka Small";
        font-weight: 600;
        margin-bottom: -70px;

        @media #{$md-layout} {
          font-size: 0.9rem;
          margin-bottom: 0;
        }
        @media #{$xs-layout} {
          font-size: 0.9rem;
          margin-bottom: 0;
        }
      }

      img.success {
        max-width: 30vw;
        display: block;
        margin: auto;

        @media #{$md-layout} {
          max-width: 80vw;
        }
        @media #{$xs-layout} {
          max-width: 80vw;
        }
      }
    }

    .ant-modal-footer {
      .ant-btn {
        border-radius: 30px;
        padding: 0px 20px;
      }

      .ant-btn-primary {
        background: $theme-color;
        border: none;
      }
    }
  }
}

.ant-modal-close {
  box-shadow: none;
  border-radius: none;
}

.image-gallery {
  width: 40%;

  @media #{$md-layout} {
    width: 100%;
  }
  @media #{$xs-layout} {
    width: 100%;
  }

  button {
    box-shadow: none;
    border-radius: 2px;

    &:hover,
    &:active,
    &:focus,
    &:focus-within {
      border-color: $theme-color;
    }
  }
}
@media screen and (max-device-width: 995px), screen and (max-width: 995px) {
  .price-stick {
    display: block;
    width: 100vw;
    padding-left: 20px;
    padding-top: 10px;
    box-shadow: $shadow;
    background: white;
    font-family: "Arial Rounded MT";
    z-index: 7;
    h3 {
      font-size: 1.4rem;
      padding: 0;
      margin: 0;
    }
    p {
      font-size: 0.8rem;
      line-height: 1;
    }
    .sticky-but {
      display: flex;

      button {
        font-size: 0.9rem;
        font-family: "Sitka Small";
        font-weight: bold;
        border-radius: 30px;
        color: white;
        background-color: $theme-color;
        padding: 10px 25px;
        box-shadow: $shadow;
        height: 3rem;

        &:hover {
          background-color: white;
          border: 1px solid $theme-color;
          color: $theme-color;
        }
      }
    }
  }
}
