button {
  padding: 10px 30px;
  border-radius: 30px;
  box-shadow: $shadow;
  border: none;
  font-weight: 600;
}

.circleBag {
  height: 70px;
  width: 70px;
  border-radius: 100%;
  box-shadow: $shadow;
  display: flex;
  justify-content: center;
  align-items: center;

  @media #{$md-layout} {
    height: 30px;
    width: 30px;
  }
  @media #{$xs-layout} {
    height: 30px;
    width: 30px;
  }
}

.circle-icon {
  color: $theme-color;
  font-size: 40px;

  @media #{$md-layout} {
    font-size: 20px;
  }
  @media #{$xs-layout} {
    font-size: 20px;
  }
}

.spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: auto;
}
.spinner:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid $theme-color;
  border-color: $theme-color transparent $theme-color transparent;
  animation: spinner 1.2s linear infinite;
  margin: auto;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.faq {
  box-shadow: $shadow;
  flex: 0.9;
  padding: 20px;
  border-radius: 26px;
  font-family: "Arial Rounded MT";
  width: 80%;

  .site-collapse-custom-collapse {
    .ant-collapse-header {
      font-size: 20px;

      .anticon {
        font-size: 18px;
        vertical-align: auto !important;
      }
    }
    p {
      color: $text-grey-light;
      font-size: 18px;
      margin-top: -1vh;
    }
  }
}

.product-large-image-wrapper {
  position: relative;
  height: inherit;

  .swiper-container {
    width: 30vw;
  }
  .product-img-badges {
    position: absolute;
    z-index: 3;
    top: 20px;
    left: 20px;
    span {
      font-size: 13px;
      font-weight: 500;
      line-height: 1;

      display: block;

      margin-bottom: 10px;
      padding: 3px 11px;

      color: #fff;
      border-radius: 3px;
      &.pink {
        background-color: #fa6bff;
      }
      &.purple {
        background-color: #a749ff;
      }
    }
  }

  .react_lightgallery_item {
    position: absolute;
    top: 20px;
    right: 20px;
    button {
      font-size: 30px;

      padding: 0;

      border: none;
      background: none;
    }
  }

  &--slider {
    .ht-swiper-button-nav {
      font-size: 50px;

      visibility: hidden;

      padding: 0;

      transition: 0.3s;

      opacity: 0;
      color: #333;
      border: none;
      background: none;
    }

    &:hover {
      .ht-swiper-button-nav {
        visibility: visible;

        opacity: 1;
      }
    }
  }

  .single-image {
    img {
      display: block;
      margin: auto;
      width: auto;
      max-height: 35vh;
    }
  }
}

.shop-area {
  .sticky {
    top: 70px !important;
  }
}

.product-small-image-wrapper {
  .ht-swiper-button-nav {
    visibility: hidden;

    opacity: 0;
    color: #333;
    border: none;
    background: none;
    i {
      font-size: 40px;
    }
  }
  .single-image {
    cursor: pointer;
    img {
      max-width: 150px;
      height: auto;
    }
  }

  &:hover {
    .ht-swiper-button-nav {
      visibility: visible;

      opacity: 1;
    }
  }
  .single-image {
    height: auto !important;
    img {
      max-height: 90px;

      object-fit: cover;
      object-position: center;
    }
  }
  .swiper-container-vertical {
    height: 100%;
    .swiper-slide {
      height: auto !important;
      padding: 1vh 0;
    }
  }

  &--side-thumb {
    overflow: hidden;

    height: 630px;
    @media #{$lg-layout,
    $md-layout,
    $xs-layout} {
      height: auto;
      margin-top: 15px;
    }
  }
}
