.down-sec {
  p {
    text-align: center;
    font-family: "Arial Rounded MT";
  }
  button {
    border: none;
    margin-left: 45%;
    &:hover {
      background: white;
    }

    @media #{$md-layout} {
      display: inline-block;
      margin-bottom: 30%;
    }
    @media #{$xs-layout} {
      display: inline-block;
      margin-left: 30%;
    }
  }
}

.popup-icon {
  color: $theme-color;
}

.search-header {
  width: 85vw;
  margin: 20px auto;

  @media #{$md-layout} {
    display: inline-block;
    margin-bottom: 0;
  }
  @media #{$xs-layout} {
    display: inline-block;
    margin-bottom: 0;
  }

  p {
    @media #{$md-layout} {
      display: inline-block;
      font-size: 0.9rem;
      margin: 0;
    }
    @media #{$xs-layout} {
      display: inline-block;
      font-size: 0.9rem;
      margin: 0;
    }
  }
}

.search-option {
  display: inline-block;
}

.search-sort {
  width: 85vw;
  margin: 10px auto;

  @media #{$md-layout} {
    display: none;
  }
  @media #{$xs-layout} {
    display: none;
  }

  h4 {
    display: inline-block;
    font-family: "Arial Rounded MT";
    font-weight: 500;
  }
  button {
    padding: 5px 15px;
    border-radius: 2px;
    background: white;
    margin: 0 10px;
    border: 1px solid white;
    font-family: "Arial Rounded MT";
    font-weight: 500;

    &:active,
    &:focus {
      color: $theme-color;
      border-color: $theme-color;
    }
  }
}

.sort-mob {
  display: none;

  @media #{$md-layout} {
    display: inline-block;
  }
  @media #{$xs-layout} {
    display: inline-block;
  }
}

.mob-sort {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: white;
  z-index: 100;
  padding: 5px 10px;

  h5 {
    font-family: "Arial Rounded MT";
    margin: 5px 0;
  }

  .bag {
    font-family: "Arial Rounded MT";
    p {
      display: inline-block;
      margin: 1px 0;
      width: 80%;
    }

    input {
      display: inline-block;
      margin-right: 0;
      margin-left: auto;
      width: 20%;
    }
  }
}

button {
  padding: 10px 30px;
  border-radius: 30px;
  box-shadow: $shadow;
  border: 1px solid $theme-color;
  font-weight: 600;
}

.circleBag {
  height: 70px;
  width: 70px;
  border-radius: 100%;
  box-shadow: $shadow;
  display: flex;
  justify-content: center;
  align-items: center;

  @media #{$md-layout} {
    height: 30px;
    width: 30px;
  }
  @media #{$xs-layout} {
    height: 30px;
    width: 30px;
  }
}

.circle-icon {
  color: $theme-color;
  font-size: 40px;

  @media #{$md-layout} {
    font-size: 20px;
  }
  @media #{$xs-layout} {
    font-size: 20px;
  }
}

.spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: 15% 50%;

  @media #{$md-layout} {
    margin: 50% 40%;
  }
  @media #{$xs-layout} {
    margin: 50% 40%;
  }
}
.spinner:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid $theme-color;
  border-color: $theme-color transparent $theme-color transparent;
  animation: spinner 1.2s linear infinite;
  margin: auto;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.faq {
  box-shadow: $shadow;
  flex: 0.9;
  padding: 20px;
  border-radius: 26px;
  font-family: "Arial Rounded MT";
  width: 100%;

  .site-collapse-custom-collapse {
    .ant-collapse-header {
      font-size: 1.2rem;

      @media #{$md-layout} {
        font-size: 1rem;
      }
      @media #{$xs-layout} {
        font-size: 1rem;
      }

      .anticon {
        font-size: 1rem;
        vertical-align: auto !important;
      }
    }
    p {
      color: $text-grey-light;
      font-size: 1rem;
      margin-top: -1vh;

      @media #{$md-layout} {
        font-size: 0.8rem;
      }
      @media #{$xs-layout} {
        font-size: 0.8rem;
      }
    }
  }
}

.product-large-image-wrapper {
  position: relative;
  height: inherit;

  .swiper-container {
    width: 30vw;
  }
  .product-img-badges {
    position: absolute;
    z-index: 3;
    top: 20px;
    left: 20px;
    span {
      font-size: 13px;
      font-weight: 500;
      line-height: 1;

      display: block;

      margin-bottom: 10px;
      padding: 3px 11px;

      color: #fff;
      border-radius: 3px;
      &.pink {
        background-color: #fa6bff;
      }
      &.purple {
        background-color: #a749ff;
      }
    }
  }

  .react_lightgallery_item {
    position: absolute;
    top: 20px;
    right: 20px;
    button {
      font-size: 30px;

      padding: 0;

      border: none;
      background: none;
    }
  }

  &--slider {
    .ht-swiper-button-nav {
      font-size: 50px;

      visibility: hidden;

      padding: 0;

      transition: 0.3s;

      opacity: 0;
      color: #333;
      border: none;
      background: none;
    }

    &:hover {
      .ht-swiper-button-nav {
        visibility: visible;

        opacity: 1;
      }
    }
  }

  .single-image {
    img {
      display: block;
      margin: auto;
      width: auto;
      max-height: 35vh;
    }
  }
}

.shop-area {
  .sticky {
    top: 70px !important;
  }
}

.product-small-image-wrapper {
  .ht-swiper-button-nav {
    visibility: hidden;

    opacity: 0;
    color: #333;
    border: none;
    background: none;
    i {
      font-size: 40px;
    }
  }
  .single-image {
    cursor: pointer;
    img {
      max-width: 150px;
      height: auto;
    }
  }

  &:hover {
    .ht-swiper-button-nav {
      visibility: visible;

      opacity: 1;
    }
  }
  .single-image {
    height: auto !important;
    img {
      max-height: 90px;

      object-fit: cover;
      object-position: center;
    }
  }
  .swiper-container-vertical {
    height: 100%;
    .swiper-slide {
      height: auto !important;
      padding: 1vh 0;
    }
  }

  &--side-thumb {
    overflow: hidden;

    height: 630px;
    @media #{$lg-layout,
    $md-layout,
    $xs-layout} {
      height: auto;
      margin-top: 15px;
    }
  }
}

.sub-header {
  width: 90vw;
  margin: 20px auto;

  div {
    h1 {
      margin: 0;
      @media #{$md-layout} {
        font-size: 1rem;
      }
      @media #{$xs-layout} {
        font-size: 1rem;
      }
    }
  }
}
