.circleBag {
  height: 70px;
  width: 70px;
  border-radius: 100%;
  box-shadow: $shadow;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-icon {
  color: $theme-color;
  font-size: 50px;
}
